/* @docs
# Components:Hero

This component creates an hero panel on the top of the pages, the parallax effect is automatically added when the class `jarallax` is passed to the media's parent container.
The parallax effect needs the file `foe.components.js` to be appended in the page in order to work, otherwise shows a static image (Also achievable omitting `jarallax` in the markup)

```html_example
<div class="foe-hero-panel">
  <div class="foe-media-holder jarallax">
    <img class="jarallax-img" src="https://picsum.photos/1920/1080" />
    <!-- or it could be also a <video> -->
  </div>
  <!-- Shunt the H1 and CTA a reasonable distance down, and give a background shading for the main nav -->
  <div class="foe-hero-panel-internal-buffer"></div>
  <div class="foe-hero-panel-heading container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1">
        <h1>
          <span class="display-1">Hero Picture Example 1</span>
          <br>
          <span class="display-2">Jarallax enabled</span>
        </h1>
        <button class="btn btn-secondary">Take an action!</button>
      </div>
    </div>
  </div>
</div>

<div class="my-4 py-4"><!-- separator --></div>

<div class="foe-hero-panel">
  <div class="foe-media-holder">
    <img src="https://picsum.photos/1920/1080?random=2" />
    <!-- or it could be also a <video> -->
  </div>
  <!-- Shunt the H1 and CTA a reasonable distance down, and give a background shading for the main nav -->
  <div class="foe-hero-panel-internal-buffer"></div>
  <div class="foe-hero-panel-heading container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1">
        <h1>
          <span class="display-1">Hero Picture Example 2</span>
          <br>
          <span class="display-2">Jarallax disabled</span>
        </h1>
        <button class="btn btn-secondary">Take an action!</button>
      </div>
    </div>
  </div>
</div>

<div class="my-4 py-4"><!-- separator --></div>

<div class="foe-hero-panel">
  <div class="foe-media-holder jarallax" data-video-src="webm:assets/videos/dock.webm">
    <img class="jarallax-img" src="assets/videos/dock.jpg"/>
  </div>
  <!-- Shunt the H1 and CTA a reasonable distance down, and give a background shading for the main nav -->
  <div class="foe-hero-panel-internal-buffer"></div>
  <div class="foe-hero-panel-heading container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1">
        <h1>
          <span class="display-1">Hero Video Example 1</span>
          <br>
          <span class="display-2">Jarallax enabled</span>
        </h1>
        <button class="btn btn-secondary">Take an action!</button>
      </div>
    </div>
  </div>
</div>

<div class="my-4 py-4"><!-- separator --></div>

<div class="foe-hero-panel">
  <div class="foe-media-holder">
    <video poster="/assets/videos/hill.jpg" autoplay="autoplay" loop="loop" preload="auto" muted="muted" volume="0">
      <source src="/assets/videos/hill.webm" type="video/webm">
    </video>
  </div>
  <!-- Shunt the H1 and CTA a reasonable distance down, and give a background shading for the main nav -->
  <div class="foe-hero-panel-internal-buffer"></div>
  <div class="foe-hero-panel-heading container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1">
        <h1>
          <span class="display-1">Hero Video Example 2</span>
          <br>
          <span class="display-2">Jarallax disabled - Video tag</span>
        </h1>
        <button class="btn btn-secondary">Take an action!</button>
      </div>
    </div>
  </div>
</div>

<div class="my-4 py-4"><!-- separator --></div>

<div class="foe-hero-panel">
  <div class="foe-media-holder" data-video-src="assets/videos/dock.webm">
    <img src="assets/videos/dock.jpg"/>
  </div>
  <!-- Shunt the H1 and CTA a reasonable distance down, and give a background shading for the main nav -->
  <div class="foe-hero-panel-internal-buffer"></div>
  <div class="foe-hero-panel-heading container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1">
        <h1>
          <span class="display-1">Hero Video Example 3</span>
          <br>
          <span class="display-2">Jarallax disabled - data-video-src attr</span>
        </h1>
        <button class="btn btn-secondary">Take an action!</button>
      </div>
    </div>
  </div>
</div>
```
*/

@import '../../utils/scss/loader';

// Think jarallax is stable enough to insert this there,
// I'll PR the jarallax repo with a scss so we can use the import
// without errors.
.jarallax {
  position: relative;
  z-index: 0;

  > .jarallax-img {
    position: absolute;
    object-fit: cover;
    // support for plugin https://github.com/bfred-it/object-fit-images
    font-family: 'object-fit: cover;'; // stylelint-disable-line
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include media-breakpoint-up(lg) {
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

.foe-hero-panel {
  position: relative;
  min-height: calc(320 / 16) * 1rem; // Height for mobile
  width: 100%;
  margin: 0;
  top: 0;
  background-color: $foe-extradark;
  overflow: hidden;
  // Vertically aligns everything.
  display: flex;
  align-items: center;

  @include media-breakpoint-up(sm) {
    max-height: 90vh; // We limit it for tablet and above so it doesn't get absurdly huge
  }

  @include media-breakpoint-up(md) {
    height: calc(100 / 16 * 9vw); // 16:9 ratio for non-mobile
  }
}

.foe-media-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $foe-tint-overlay;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $foe-tint-overlay;
    z-index: 2;
  }

  // Fit and crop <img> or <video> elements to 100% x 100% of
  // the parent container, regardless of how much Drupal-induced
  // div vomit separates them.
  video,
  img {
    position: absolute;
    object-fit: cover;
    // IE polyfill hack, need to disable a specific rule for stylelint here.
    font-family: 'object-fit: cover;'; // stylelint-disable-line font-family-no-missing-generic-family-keyword
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  video { // Solves scaling down on IE
    min-width: 100%;
    min-height: 100%;
  }
}

.foe-hero-panel-buffer {
  min-height: $spacer*16; // Height for mobile
  height: calc(100 / 16 * 9vw); // 16:9 ratio for the rest
  max-height: 90vh; // We limit it so it doesn't get absurdly huge
  width: 100%;
  top: 0;
  position: static;
  z-index: -10000;
}

.foe-hero-panel-internal-buffer {
  height: 8rem;
  position: static;
  top: 0;
  z-index: -10000;
}

.foe-hero-panel-heading {
  position: relative;
  z-index: 3;
  padding-top: $foe-nav-height-small;
  padding-bottom: $spacer;

  @include media-breakpoint-up(md) {
    padding-top: $foe-nav-height-medium;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $foe-nav-height-large-scrolled;
  }

  h1 {
    color: $foe-offwhite;
    text-shadow: $foe-text-shadow;
  }

  .foe-hero-cta-container {
    margin-top: $spacer;

    @include media-breakpoint-up(md) {
      margin-top: $spacer*2;
    }

    a {
      width: 100%;

      @include media-breakpoint-up(sm) {
        width: auto;
      }
    }
  }
}

.foe-simple-page-heading {
  position: relative;
  z-index: 3;

  h1 {
    margin-bottom: calc($spacer / 4);
  }
}

.foe-feature-page-heading {
  @extend .foe-card-theme-white !optional;

  padding-top: $spacer*2;
  padding-bottom: $spacer*1;
}

// Disable jarallax in ie10+ because paint timing it's obscene
@include ie11() {
  .jarallax-img {
    position: inherit !important;
    transform: none !important;
  }
}
