/* @docs

# Core:Forms/Buttons

All FOE Call to Action buttons follow a specific aspect and colour based on the brand palette. Forms submits are generally styled using the secondary palette, depending on the action taken.
Primary and outline buttons are used for in-content CTAs (buttons within an informative page, heros, media). Buttons require the bootstrap `btn` class followed by the colour class eg: `btn-primary`
Anchor links can be also transformed by using the `btn` class.
Form `type=submit`s, `button`s are by default uncolorized, please use one of the the colours below appropriately.

```html_example
<div class="row">
  <div class="col-md-6">
    <h4>Primary palette</h4>
    <button class="btn btn-primary btn-block">.btn-primary</button>
    <button class="btn btn-secondary btn-block">.btn-secondary</button>
    <button class="btn btn-offwhite btn-block">.btn-offwhite</button>
    <button class="btn btn-dark btn-block">.btn-dark</button>
    <button class="btn btn-extradark btn-block">.btn-extradark</button>
    <button class="btn btn-sunset btn-block">.btn-sunset</button>
    <button class="btn btn-accent btn-block">.btn-accent</button>
    <button class="btn btn-join btn-block">.btn-join</button>
    <button class="btn btn-donate btn-block">.btn-donate</button>
    <a href="#" class="btn btn-primary btn-block">Link as button</a>
  </div>

  <div class="col-md-6">
    <h4>Outlined</h4>
    <button class="btn btn-outline-primary btn-block">.btn-outline-primary</button>
    <button class="btn btn-outline-secondary btn-block">.btn-outline-secondary</button>
    <button class="btn btn-outline-offwhite btn-block">.btn-outline-offwhite</button>
    <button class="btn btn-outline-dark btn-block">.btn-outline-dark</button>
    <button class="btn btn-outline-extradark btn-block">.btn-outline-extradark</button>
    <button class="btn btn-outline-sunset btn-block">.btn-outline-sunset</button>
    <button class="btn btn-outline-accent btn-block">.btn-outline-accent</button>
    <button class="btn btn-outline-join btn-block">.btn-outline-join</button>
    <button class="btn btn-outline-donate btn-block">.btn-outline-donate</button>
    <a href="#" class="btn btn-outline-primary btn-block">Link as button</a>
  </div>

</div>

```
*/

@import '../../utils/scss/loader';

// Bootstrap extends
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';

.btn {
  &:focus {
    outline: $foe-element-default-outline;
    outline-offset: $foe-element-default-outline-offset;
  }
}

@include media-breakpoint-down(sm) {
  .btn {
    font-size: .8rem;
  }

  .foe-paragraph-cta .btn {
    display: block;
    white-space: normal;
  }
}
