/*

# Core:Custom elements

While building forms the usual brand colour identity are `extradark` for the background and the `accent` for the simple submit button.
The Depending on the action to take the submit button must change colour, we use `accent` for the normal submit buttons while we use
To add a colour for the submit buttons please use the inherited `btn` and `btn-<color>` bootstrap classes. We have a range of brand colours ready to use through custom classes, for the full list please
[refer to the colour section](#core-base-colours-)

```html_example
<div class="row">
  <div class="col">
    <form class="extradark">
      <h4>Default form</h4>
      <p>The following form is generated using a basic markup, the changes needed aren't substantial. The form requires few classes to address the colours on </p>
      <label for="first">First name</label>
      <input name="first" type="text" placeholder="First name">
      <label for="last">Last name</label>
      <input name="last" type="text" placeholder="Last name">
      <label for="email">E-mail address</label>
      <input name="email" type="email" placeholder="E-mail address">
      <input class="btn btn-accent btn-block" type="submit" value="Subscribe">
    </form>
  </div>
  <div class="col">
    <form class="extradark">
      <h4>Other elements</h4>
      <p>This form shows other element fields</p>
      <label>What is your relationship with Friends of the Earth?</label>
      <select>
        <option>I am a volunteer</option>
        <option>I am a supporter</option>
        <option>I am an activist</option>
        <option>I work for Friends of the earth</option>
      </select>
      <div class="form-item">
        <label><strong>Would you like to receive updates from us?</strong></label>
        <input id="checkbox-c-c-1" type="checkbox">
        <label for="checkbox-c-c-1">Yes, keep me updated via e-mail</label>
        <input id="checkbox-c-c-2" type="checkbox">
        <label for="checkbox-c-c-2">Yes, keep me updated via phone</label>
      </div>
      <div class="form-item">
        <label><strong>What topic interests you most?</strong></label>
        <input id="radio-c-c-1" type="radio" name="radiogroup-c-c-1">
        <label for="radio-c-c-1">Bee decline</label>
        <input id="radio-c-c-2" type="radio" name="radiogroup-c-c-1">
        <label for="radio-c-c-2">Air pollution</label>
        <input id="radio-c-c-3" type="radio" name="radiogroup-c-c-1">
        <label for="radio-c-c-3">Food waste</label>
      </div>
      <input class="btn btn-join btn-block" type="submit" value="Join">
    </form>
  </div>
  <div class="col">
    <form class="offwhite">
      <h4>White variant with donate action</h4>
      <p>This form still uses a custom wrapper for the currency field</p>
      <label for="first">First name</label>
      <input name="first" type="text" placeholder="First name">
      <label for="last">Last name</label>
      <input name="last" type="text" placeholder="Last name">
      <label for="donation">Amount to donate</label>
      <div class="input-group mb-3 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">£</div>
        </div>
        <input name="donation" type="text" class="form-control" placeholder="Amount to donate">
      </div>
      <input class="btn btn-donate btn-block" type="submit" value="Donate">
    </form>
  </div>
</div>
```
*/

@import '../../utils/scss/loader';

// Bootstrap extends
@import '~bootstrap/scss/custom-forms';


.big-radio-buttons {
  .form-check {
    .picker-radio {
      border: 2px solid $foe-primary;
      background-color: $foe-white;
      padding: 0;
      margin-bottom: 10px;
      margin-left: 0;
      margin-right: 0;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }

      .picker-handle {
        display: none;
      }

      label {
        font-weight: 600;
        font-size: 15px;
        padding: 14px 0;
        text-align: center;
        text-transform: uppercase;
        color: $foe-dark;
        width: 100%;

        @include media-breakpoint-up(md) {
          font-size: 20px;
          padding: 16px 0;
        }
      }

      &.checked {
        border: 2px solid $foe-primary;
        background-color: $foe-primary;

        label {
          color: $foe-white;
        }
      }
    }
  }
}
