/* @docs

# Components:Campaign navigation

```html_example
  <div id="foe-secondary-nav">
    <div class="foe-secondary-nav-content container">
      <nav role="navigation">
        <span id="js-foe-secondary-trigger" data-toggle="collapse" data-target="#campaignnav-menu-items" aria-controls="campaignnav-menu-items" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-chevron-down"></i>
        </span>
        <a href="#" class="campaign-parent">Link 1</a>
        <ul id="campaignnav-menu-items" class="menu nav collapse" role="navigation">
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </nav>
    </div>
  </div>
```
*/

@import '../../utils/scss/loader';

$foe-secondary-nav-height: 3rem;

#foe-secondary-nav {
  width: 100%;
  background-color: $foe-accent;
  color: $foe-extradark;
  z-index: ($zindex-navbar) - 1;
  position: absolute;
  transition: box-shadow $foe-nav-transition-duration ease-in-out;

  &.js-menustack-stuck {
    position: fixed;
    top: $foe-nav-height-small;
    box-shadow: $foe-nav-shadow;

    @include media-breakpoint-up(md) {
      top: $foe-nav-height-medium;
    }

    @include media-breakpoint-up(lg) {
      top: $foe-nav-height-large-scrolled;
    }
  }

  &::before {
    top: $foe-nav-height-small*-1;

    @include media-breakpoint-up(md) {
      top: $foe-nav-height-medium*-1;
    }

    @include media-breakpoint-up(lg) {
      top: $foe-nav-height-large-scrolled*-1;
    }
  }
}

#foe-secondary-nav-buffer {
  height: $foe-secondary-nav-height;
}

%foe-secondary-active-link {
  color: $foe-dark;
  background: transparent;
  text-decoration: none;
}

.foe-secondary-nav-content {
  position: relative;

  a.campaign-parent {
    text-transform: uppercase;
    margin-left: 0;
    display: inline-block;
    line-height: $foe-secondary-nav-height;
    transition: color 150ms linear;
    margin-right: .5rem;
    font-weight: bold;

    @extend %foe-secondary-active-link;

    @include media-breakpoint-up(md) {
      padding-right: 1.5rem;
    }
  }

  ul.nav {
    margin: 0;

    @include media-breakpoint-up(lg) {
      display: inline-block;
    }

    li {
      clear: both;
      margin: 0;
      display: block;
      line-height: 1;
      width: 100%;

      @include media-breakpoint-up(lg) {
        display: inline-block;
        width: auto;
      }

      a {
        color: $foe-white;
        line-height: $foe-secondary-nav-height;
        transition: color 150ms linear;
        display: block;
        font-weight: bold;

        @include media-breakpoint-up(md) {
          padding-right: 1.5rem;
        }

        &:hover {
          @extend %foe-secondary-active-link;
        }

        &:focus {
          @extend %foe-secondary-active-link;

          outline: 0 none transparent;
        }

        &.active {
          a {
            font-weight: bold;

            @extend %foe-secondary-active-link;
          }
        }
      }
    }
  }
}

#js-foe-secondary-trigger {
  position: absolute;
  right: calc($grid-gutter-width / 2);
  line-height: $foe-secondary-nav-height;
  width: 2rem;
  z-index: 10;
  text-align: center;
  cursor: pointer;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  .fa-chevron-down {
    transition: transform 250ms linear;
  }

  .nav-open & {
    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }
}
