/* @docs

# Core:Typography/Blockquotes

The Friends of the Earth blockquotes use the secondary font

```html_example
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus velit et felis mattis euismod. Nulla tincidunt fringilla augue at aliquam. Nunc vitae neque eget urna pulvinar convallis.</p>
  <!-- using cite in thi way is not valid according to the html5 spec -->
  <!-- https://html.spec.whatwg.org/dev/text-level-semantics.html#the-cite-element -->
  <cite>Marcus Aurelius</cite>
</blockquote>
<!-- Aternative format, https://html.spec.whatwg.org/dev/grouping-content.html#the-blockquote-element -->
<p class="citation">Marcus Aurelius</p>
```
*/

@import '../../utils/scss/loader';

blockquote {
  border-color: $gray-400;
  border-style: double;
  border-width: .2em 0;
  padding: $spacer*1.5 0;
  width: 80%;
  margin: $spacer*2 auto;
  float: none;
  clear: both;

  p {
    font-family: $font-family-serif;
    font-weight: 700;
    font-size: $blockquote-font-size;
    line-height: $blockquote-font-size * 1.35;
    color: $foe-primary;

    @include media-breakpoint-down(sm) {
      font-size: strip-units($blockquote-font-size) * $font-size-sm;
      line-height: $blockquote-font-size * 1.25;
    }

    &:first-of-type::before {
      content: '\201C';
    }

    &:last-of-type {
      margin-bottom: 0;

      &::after {
        content: '\201D';
      }
    }
  }

  @include media-breakpoint-up(sm) {
    width: calc(100% * 4 / 6);

    // NOTE: The width, margin-left, and margin-right values below are
    // over-ridden for sanity within CKEditor contexts.
    &.left {
      float: left;
      clear: left;
      margin-left: calc(-100% / 6);
      margin-right: 2em;
    }

    &.right {
      float: right;
      clear: right;
      margin-left: 2em;
      margin-right: calc(-100% / 6);
    }
  }

  cite,
  & + .citation {
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 400;
    font-style: italic;
    color: $gray-500;
    display: block;
    text-align: right;
    margin-top: 1em;
    padding-left: 10%;

    &::before {
      content: "\2014\00A0\00A0";
      color: $foe-primary;
    }
  }

  & + .citation {
    margin-top: $spacer * -1;
  }
}
