@import '../../utils/scss/loader';

@for $i from 1 through 4 {
  .display-#{$i} {
    @include media-breakpoint-down(md) {
      font-size: calc(32 / 14) * 1rem !important;
      line-height: 1.05;
    }
  }
}
