/* @docs

# Core:Typography/Fonts

Our type system is comprised of two fonts:
* [Libre Franklin](https://fonts.google.com/specimen/Libre+Franklin)
* [Libre Baskerville](https://fonts.google.com/specimen/Libre+Baskerville)

<div class="row">
  <div class="col">
    <h4>Our primary typeface is Libre Franklin</h4>
    <p>It’s a geometric <b>sans serif</b> with organic features. It’s our primary typeface for <b>body copy</b> and <b>titles</b>.</p>
  </div>
  <div class="col" style="font-family:'Libre Baskerville';">
    <h4>Our secondary typeface is Libre Baskerville</h4>
    <p>It’s a <b>high-contrast serif</b> that’s designed for screen. It’s our complementary typeface for <b>titles</b> and <b>callouts</b>.</p>
  </div>
</div>

To use them on your CSS please import the webfonts through Google Fonts

```
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap');
```

*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap');
