/* @docs

# Core:Typography/Headings

All HTML headings, `<h1>` through `<h6>`, are available. Headings follow the same format with the exception of `<h6>` being uppercase and grey (used for labels on small containers and sidebars).
`.h1` through `.h6` classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element.


```html_example
<h1>h1 heading</h1>
<h2>h2 heading</h2>
<h3>h3 heading</h3>
<h4>h4 heading</h4>
<h5>h5 heading</h5>
<h6>h6 heading</h6>

<p class="h1">.h1 size on a paragraph</p>
<p class="h2">.h2 size on a paragraph</p>
<p class="h3">.h3 size on a paragraph</p>
<p class="h4">.h4 size on a paragraph</p>
<p class="h5">.h5 size on a paragraph</p>
<p class="h6">.h6 size on a paragraph</p>
```
*/

@import '../../utils/scss/loader';

// Import Bootstrap typography
@import '~bootstrap/scss/type';

@each $heading, $size in $headings-map {
  @include media-breakpoint-down(sm) {
    #{$heading},
    .#{$heading} {
      font-size: strip-units($size) * $font-size-sm;
    }
  }
}

// Make our fancy headings display correctly without requiring an explicit <br>
h1 span {
  display: block;
}

h6,
.h6 {
  text-transform: uppercase;
  color: $foe-text;
}
