/* @docs

# Core:Typography/Custom typography elements

Custom Friends of the Earth styling for common text elements.


```html_example
<h3>Metadata display (eyebrows and tag list)</h3>

<p class="foe-eyebrows">
  <span class="foe-eyebrow">Archie Andrews</span>
  <span class="foe-eyebrow"><i class="far fa-calendar"></i> 4 July 1966</span>
  <span class="foe-eyebrow"><i class="far fa-clock"></i> 3 minute read</span>
</p>

<p>The <code>.foe-eyebrows</code> and <code>.foe-eyebrow</code> classes are used to unobtrusively display metadata and other information, as in the example above. Often used with an appropriate FontAwesome icon.</p>

<p>The <code>.foe-tags</code> and <code>.foe-tag</code> classes are used to display lists of links to related tags or content areas (e.g. Drupal taxonomy terms). <code>.foe-tags</code> creates a block designed as a container for <code>.foe-tag</code> elements, although the <code>.foe-tag</code> class can be used independently. See the example below.</p>

<div class="foe-tags">
  <a class="foe-tag" href="#">Style guide</a>
  <a class="foe-tag" href="#">Brand</a>
  <a class="foe-tag" href="#">CSS</a>
</div>
```
*/

@import '../../utils/scss/loader';

.foe-eyebrows {
  display: block;
  font-size: $font-size-sm;
  line-height: 1.75;
  color: $gray-600;
  margin-top: $spacer;
  margin-bottom: $spacer;

  & > .foe-eyebrow {
    display: inline-block;

    // TODO: Handle wrapping better than leaving a dangling pipe character...
    &:not(:last-of-type)::after {
      content: "|";
      margin-left: 1rem;
      margin-right: 1rem;
    }

    svg[role=img] {
      margin-right: .25rem;
    }
  }
}


.foe-tags {
  display: block;
  margin: 1rem 0 0;
  line-height: 2rem;
}

.foe-tag {
  display: inline-block;
  margin-top: .5rem;
  margin-right: .5rem;
  text-align: center;
  line-height: 1.45;
  padding: .1rem .5rem;
  background-color: transparent;
  border: 1px currentColor solid;
  border-radius: 2px;
  font-family: $font-family-sans-serif;
  font-size: $font-size-sm;
  font-weight: normal !important;
  text-transform: uppercase;
  transition-property: opacity, color, box-shadow;
  transition-duration: calc($foe-transition-duration-base / 2);
  transition-timing-function: $foe-transition-easing;
  text-decoration: none;

  &.disabled {
    pointer-events: none;
  }

  &:link,
  &:visited {
    &:hover {
      color: inherit;
      opacity: $foe-hover-opacity;
      text-decoration: none;
      box-shadow: $foe-default-shadow;
    }

    &.disabled {
      cursor: not-allowed;
    }
  }
}
