@import '../../utils/scss/loader';

// Generic classes for the horizontal rule
@for $size from 1 to 4 {
  .hr-#{$size} {
    border-top-width: calc(1rem / 10) * $size;
  }
}

@each $color, $value in $theme-colors {
  .hr-#{$color} {
    border-top-color: $value;
  }
}
