@import '../../utils/scss/loader';

// Load Bootstrap base
@import '~bootstrap/scss/images';

figure {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  figcaption {
    font-style: italic;
    font-size: 80%;
    text-align: right;
    color: lighten($foe-text, 15);
    padding-top: calc($spacer / 3);
    padding-bottom: calc($spacer / 3);
  }
}

// Drupal helper
.img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}

// IE Polyfill for responsive SVGs
@include ie11() {
  img[src$=".svg"] {
    width: 100% !important;
  }
}

