@import '../../utils/scss/loader';

@each $name, $palette in $palette-mapping {
  @each $color, $value in $palette {
    body.campaign-#{$name} {

      // Palette backgrounds
      .bg-#{$color} {
        background-color: $value;
      }

      @if $enable-gradients {
        @include bg-gradient-variant('.bg-gradient-#{$color}', $value);
      }

      // Palette buttons
      .btn-#{$color} {
        @include button-variant($value, $value);
      }

      .btn-outline-#{$color} {
        @include button-outline-variant($value);
      }

      // Form colors
      form.#{$color} {
        @include background-text-invert($value);
      }
    }
  }
}
