// Custom variable loader, we do use the loader to load variables on other bundles depending on core
@import '../../utils/scss/loader';

// Resets
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';

// Some defaults to prevent odd FOUC things like forms on hero panels

form,
button,
input {
  max-width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}
