
// Main nav container
// Refer to the main variable file for measurements.

// Very wrong but it is outputting too many errors and possibly it's unfixable unless there's a bit of refactoring involved

// OMG, this file is horrible, I hate it.

.foe-header {
  border: 0;
  width: 100%;
  top: 0;
  padding: 0;
  z-index: $zindex-navbar !important;
  background-color: $foe-extradark;
  transition:
    background-color $foe-transition-duration-base $foe-transition-easing,
    background-position $foe-transition-duration-base $foe-transition-easing,
    box-shadow $foe-transition-duration-base $foe-transition-easing,
    padding $foe-transition-duration-base $foe-transition-easing;

  &.js-menustack {
    position: fixed;
    color: $foe-offwhite;
    z-index: $zindex-navbar + 10 !important;

    // Scrolled state
    &.js-menustack-stuck {
      padding: 0;

      &::before {
        opacity: 0;
      }
    }
  }

  &.foe-header-transparent-start {
    background-color: rgba($foe-extradark, 0); // Tricks into a better transition from transparent using the theme colour
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba($foe-extradark, 0) 50%);
    background-size: 100% 200%;
    background-repeat: no-repeat;

    // Scrolled state
    &.js-menustack-stuck {
      background-position-y: 100%;
      background-color: $foe-extradark;
    }
  }

  // This didn't actually never worked without display: block,
  // Not sure if it got removed at a certain point, so I do repurpose this for the nonjs version
  &::before {
    content: '';
    background: $foe-extradark;
    position: absolute;
    display: block;
    z-index: -5; // Otherwise it clashes with the logo
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  @include media-breakpoint-down(md) {
    padding-left: calc($grid-gutter-width / 2) !important;
    padding-right: calc($grid-gutter-width / 2) !important;
    overflow: hidden;
  }

  // Scrolled state
  &.js-menustack-stuck {
    padding: 0;
    box-shadow: $foe-nav-shadow;

    body.foe-page-has-campaign-nav & {
      box-shadow: none;
    }
  }
}
