.foe-header {
  .foe-logo {
    float: left;
    clear: left;
    width: auto;
    height: $foe-nav-logo-height-small;
    padding: 0;
    z-index: 10;
    transition:
      opacity $foe-transition-duration-base $foe-transition-easing,
      height $foe-transition-duration-base $foe-transition-easing,
      margin-top $foe-transition-duration-base $foe-transition-easing,
      margin-bottom $foe-transition-duration-base $foe-transition-easing;

    @include margin-vertical-align($foe-nav-height-small, $foe-nav-logo-height-small);

    @include media-breakpoint-up(md) {
      width: auto;
      max-width: none;
      height: $foe-nav-logo-height-medium;

      @include margin-vertical-align($foe-nav-height-medium, $foe-nav-logo-height-medium);
    }

    @include media-breakpoint-up(lg) {
      height: $foe-nav-logo-height-large;

      @include margin-vertical-align($foe-nav-height-large, $foe-nav-logo-height-large);
    }

    &:hover {
      opacity: .7;
    }
  }

  @include media-breakpoint-up(lg) {
    &.js-menustack-stuck .foe-logo {
      height: $foe-nav-logo-height-large-scrolled;

      @include margin-vertical-align($foe-nav-height-large-scrolled, $foe-nav-logo-height-large-scrolled);
    }
  }
}
