
.foe-header-megamenu {
  overflow: visible;
}

.foe-megamenu-container {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: $foe-offwhite;
  box-shadow: $foe-nav-shadow;
  transition:
    visibility 0s $foe-transition-easing $foe-transition-duration-base,
    opacity $foe-transition-duration-base $foe-transition-easing;

  @include media-breakpoint-up(md) { // Megamenus are only applicable on larger viewports.
    display: block;
  }

  &.megamenu-search { // Allow the search "megamenu" to persist at smaller breakpoints
    @include media-breakpoint-up(sm) {
      display: block;
    }

    input {
      background-color: transparent !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }

  > ul {
    padding-right: calc($grid-gutter-width / 2);
    padding-left: calc($grid-gutter-width / 2);
  }

  > .container > .row {
    width: 100%;
  }
}

.foe-colossal-submenu {
  &.foe-colossal-submenu-list {
    ul.sub-megamenu-first {
      column-gap: 0;
      overflow: hidden;
      height: $foe-submenu-tile-height;

      > li {
        > span {
          line-height: calc($foe-submenu-tile-height / 4);
          font-weight: 500;
          color: $foe-gray;
        }

        > a {
          line-height: calc($foe-submenu-tile-height / 4);
          font-weight: 500;
          padding-left: 0;
          padding-right: 36px;
          color: $foe-primary;
          transition: color 400ms ease-in-out;

          &:hover {
            color: $foe-extradark;
          }
        }

        .megamenu-overlay-link-title {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    @for $i from 1 through 12 {
      &.col-md-#{$i} {
        ul.sub-megamenu-first {
          column-count: ceil(calc($i / 2));
        }
      }
    }
  }

  &.foe-colossal-submenu-tiles {
    ul.sub-megamenu-first {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: center;

      > li {
        flex: 1 1 100%;
        overflow: hidden;

        /* stylelint-disable no-descending-specificity */
        > a {
          position: relative;
          display: block;
          overflow: hidden;
          height: $foe-submenu-tile-height;

          .megamenu-overlay-link-title {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: stretch;
            align-items: center;
            background-color: $foe-tint-overlay;
            transition: background-color $foe-transition-duration-base $foe-transition-easing;

            span {
              display: block;
              text-align: center;
              width: 100%;
              font-size: 1.3rem;
              padding: 1px;
              line-height: 1.18;
              text-shadow: $foe-text-shadow;
            }
          }

          &:hover {
            color: $foe-offwhite;

            .megamenu-overlay-link-title {
              background-color: $foe-tint-overlay;
            }
          }

          img {
            position: absolute;
            z-index: 1;
            min-height: 100%;
            min-width: 100%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            object-fit: cover;
            /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
            font-family: 'object-fit: cover;'; // IE polyfill hack
          }
        }
        /* stylelint-enable no-descending-specificity */
      }
    }
  }

  .foe-colossal-submenu-inner {
    padding-top: $foe-submenu-padding;
    padding-bottom: $foe-submenu-padding;
    margin-top: $foe-submenu-margin;
    margin-bottom: $foe-submenu-margin;
    border-color: $foe-light;
    border-style: double;
    border-width: .2em 0;

    ul.sub-megamenu-first {
      padding: 0;
      margin: 0 calc($grid-gutter-width / -2);
      list-style: none;

      > li {
        padding: 0 calc($grid-gutter-width / 2);
        margin: 0;
      }
    }
  }
}
