// Custom FOE multi-level dropdown menu
//  - Mobile: Inlines 3 levels, discards any further depth (display: none)
//  - Desktop: Hover-expands up to 3 levels, inlines the 4th, discards any further depth.
//
// #AccessibilityFail :/

ul.navbar-nav.foe-multi-level-menu {

  // Mobile display (default) - inlined first two levels
  a.nav-item {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 3rem;
  }

  ul {
    background-color: transparent;
    display: block;
    list-style-type: none;
    border: none;
    text-align: right;
    padding-bottom: 1em;
    margin-top: -.5em;

    > li a {
      line-height: 2em;
      padding: .25em 0;
    }
  }

  // Hide any further levels
  > li > ul > li > ul {
    display: none;
  }


  // Desktop display, enabled as dictated by a parent nav-expand-xyz class
  // foe-multi-level-menu-active class is added/removed dynamically by menuMultilevelSetup();
  // See: src/components/navigation/index.js
  &.foe-multi-level-menu-active {

    // Reset top-level links
    a.nav-item {
      font-weight: normal;
      font-size: inherit;
      line-height: inherit;
    }

    li {
      white-space: nowrap;
    }

    a {
      display: block;
      line-height: 3em;
      padding: 0 .5em;
    }

    // Style dropdowns
    ul {
      text-align: left;
      background-color: $white;
      padding-left: .5em;
      padding-right: .5em;

      > li {
        float: none;
        background-color: $white;

        &:hover {
          background-color: $foe-offwhite;
        }
      }

      a {
        font-weight: bold;
        color: $foe-dark;
      }

      // Non-bold sub-sub-section menus
      ul ul {
        display: block;
        margin-bottom: .25em;
        margin-top: .25em;
        padding-bottom: 0;

        > li:hover {
          background-color: $white;
        }

        a {
          font-weight: normal;
          border-left: 1px solid $foe-light;
        }
      }

      // We discard (hide) anything below sub-sub level
      ul ul ul {
        display: none;
      }

      // We give submenu links a new hover state
      a:hover {
        text-decoration: underline;
      }
    }


    // Add "more" indicator arrow
    li.dropdown-parent {
      position: relative;

      & > a {
        padding-right: 2em;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: calc(50% - .25em);
          right: 1em;
          bottom: auto;
          left: auto;
          opacity: 1;
          border-width: .25em;
          border-style: solid;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: transparent;
          border-left-color: currentColor;
        }
      }
    }

    // Reset for the top level
    li.nav-link.dropdown-parent > a {
      padding-right: 0;

      &::after {
        display: inline-block;
        position: static;
        margin-left: 1em;
        border-top-color: currentColor;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
    }

    // Hide all submenus by default
    ul.dropdown-menu {
      display: block;
      position: relative;
      padding: 0;
      opacity: 0;
      pointer-events: none;
      margin: -1em -1.25em;

      // Add an invisible border to expand the hover area
      // (Prevents dropdowns closing annoyingly)
      border-width: 1em;
      border-style: solid;
      border-color: transparent;

      // Add a fake box-shadow that excludes the invisible border
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-shadow: $foe-nav-shadow;
        pointer-events: none;
      }
    }

    // Except if the parent item is hovered, or active
    li:hover > ul.dropdown-menu,
    li.active > ul.dropdown-menu {
      transition: opacity 250ms 250ms ease-out;
      opacity: 1;
      pointer-events: all;
    }
  }
}
