.foe-header {
  // Link list
  ul.navbar-nav {
    display: block;
    width: auto;
    float: right;
    padding: 0;
    margin: 0;
    line-height: 4rem;

    @include media-breakpoint-down(md) {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      text-align: right;
      transition: max-height $foe-transition-duration-base*2 $foe-transition-easing;
    }

    li {
      line-height: 4rem;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      float: none; // Resets bootstrap floating.

      @include media-breakpoint-up(lg) {
        float: left; // Reinstate for MD+
      }

      > a {
        position: relative;
        line-height: $foe-nav-height-small;
        font-weight: bold;
        padding: 0;
        display: block;
        color: rgba($foe-offwhite, 1);
        transition:
          line-height $foe-transition-duration-base $foe-transition-easing,
          color $foe-transition-duration-base $foe-transition-easing;

        @include media-breakpoint-up(lg) {
          padding: 0 18px;
          line-height: $foe-nav-height-large;
        }

        &:focus {
          background-color: transparent;
          box-shadow: 0 0 0 $foe-element-default-focus-width $foe-element-default-focus-color;
          outline: $foe-element-default-outline;
          outline-offset: $foe-element-default-outline-offset;
        }

        &:hover {
          // opacity: 0.7; <= Originally all links were .7 opacity, since we're using a pseudo element inside the anchor we can't fade the whole element
          color: rgba($foe-offwhite, .7);
          background: transparent;
          text-decoration: none;
        }

        &::after {
          $arrow-size: 10px;

          position: absolute;
          z-index: $zindex-navbar + 21;
          content: '';
          width: 0;
          height: 0;
          border: $arrow-size solid transparent;
          border-bottom-color: $foe-offwhite;
          bottom: -1px;
          left: 50%;
          margin-left: ($arrow-size * -1);
          opacity: 0;
          transition: opacity $foe-transition-duration-base $foe-transition-easing;
        }
      }

      &.active > a {
        font-weight: 300;
      }

      &.foe-has-megamenu:hover {
        .foe-megamenu-container {
          opacity: 1;
          visibility: visible;
          transition-delay: .2s;
          z-index: $zindex-navbar + 20;
        }

        > a::after {
          opacity: 1;
          transition-delay: .2s;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &.js-menustack-stuck {
      .foe-nav-cta a {
        @include margin-vertical-align($foe-nav-height-large-scrolled, $foe-nav-cta-height-large);
      }

      ul.navbar-nav > li > a {
        line-height: $foe-nav-height-large-scrolled;
      }
    }
  }

  // Handheld only
  @include media-breakpoint-down(md) {
    &.foe-header-mobile-is-open {
      background-color: $foe-extradark !important;

      ul.navbar-nav {
        max-height: calc(100vh - 4rem);
        overflow-y: auto;
        padding-bottom: 1em;
      }

      .navbar-toggler {
        position: relative;
        display: inline-block;

        .icon-bar {
          opacity: 0;
        }

        .icon-close {
          width: 25px;
          transform: translateX(0) rotateZ(-45deg);
          visibility: visible;

          + .icon-close {
            transform: translateX(0) rotateZ(45deg);
          }
        }
      }
    }

    .d-inline-block {
      width: 100%;

      a {
        width: 100%;
        display: block;
      }
    }
  }

  // Exception when the first nav item is hidden
  &.foe-header-hide-first ul.navbar-nav > li:first-child {
    display: none;
  }

  // Neutralise bootstap
  .navbar-collapse {
    display: flex !important;
  }
}
