#block-main-navigation {
  // Local var, we use this in conjunction with different elements
  $mobile-menu-padding: 20px;

  position: fixed;
  top: 0;
  display: none;
  background-color: #fff;
  z-index: $zindex-navbar;
  color: #000;
  width: 100%;
  overflow-y: auto;
  height: 100%;

  &.mobile_nav_open {
    display: block;
    animation: fadeScaleIn .2s;
  }

  .close-menu {
    position: relative;
    display: block;
    float: right;
    cursor: pointer;
    padding: 0 $mobile-menu-padding;
    font-size: 40px;
    color: $foe-light;
  }

  ul.navbar-nav {
    width: 100%;
    margin: $foe-nav-height-small 0 20px;
    padding: 0;
    display: block;
    float: none !important;

    li {
      float: none;
      margin-bottom: 0;
      padding: 0 $mobile-menu-padding;
      position: relative;

      a {
        border-top: 1px solid $foe-light;
        color: $foe-light;
        font-weight: normal;
        padding: 15px 0;
        font-size: 16px;

        &:hover {
          background-color: transparent;
        }
      }

      &.expanded {
        margin-top: 0;
        margin-bottom: 0;
        height: auto;
        width: 100%;
      }

      &.open {
        background-color: $foe-primary;
        color: #fff;
        margin-bottom: -1px;

        a {
          color: #fff;
          background-color: transparent;
        }

        .expand-arrow {
          color: #fff;
        }

        .dropdown-menu {
          display: block;
        }
      }

      .caret {
        border: 0;
      }

      &.dropdown .expand-arrow {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        right: $mobile-menu-padding;
        color: $foe-primary;
        cursor: pointer;
        font-size: 28px;
        text-align: right;
        margin-top: 11px;
      }
    }

    ul.dropdown-menu {
      display: none;
      float: none;
      margin: 0;
      padding: 0;
      box-shadow: 0 0 0;
      border: 0;
      background-color: transparent;
      margin-left: -9px;
      margin-right: -9px;
      width: calc(100% + 18px);

      &::before,
      &::after {
        content: " ";
        display: table;
      }

      &::after {
        clear: both;
      }

      li {
        padding: 0;
        float: left;
        width: 50%;
        margin-bottom: 20px;

        &:nth-child(2n+1) {
          clear: left;
        }
      }

      a {
        border: 0;
        font-size: 14px;
        color: #fff;
        background-color: $foe-light !important;
        border-radius: 2px;
        line-height: 32px;
        padding: 0 10px;
        text-align: center;
        display: block;
        transition: background-color $foe-transition-duration-base $foe-transition-easing;

        &:hover,
        &:focus,
        &.active {
          background-color: $foe-extradark !important;
        }
      }
    }
  }
}
