// Search partial
// Header search icon and input thingie

.foe-header {
  .header-search {
    text-align: center;
    display: inline-block;

    .fa {
      width: 20px;
      height: 20px;
    }

    a.search-button {
      text-decoration: none !important;
      position: relative;
      line-height: $foe-nav-height-small;
      color: $foe-offwhite !important;
      transition: line-height $foe-transition-duration-base $foe-transition-easing;
      width: calc($spacer * 3);
      padding-left: calc($grid-gutter-width / 2);
      padding-right: calc($grid-gutter-width / 2);
      display: block;

      .fa-times {
        display: none;
      }

      &:hover {
        opacity: .7;
      }

      @include media-breakpoint-up(sm) {
        width: calc($spacer * 4);
      }

      @include media-breakpoint-up(md) {
        line-height: $foe-nav-height-medium;
      }

      @include media-breakpoint-up(lg) {
        line-height: $foe-nav-height-large;
      }

      &::after {
        $arrow-size: 10px;

        position: absolute;
        z-index: 1;
        content: '';
        width: 0;
        height: 0;
        border: $arrow-size solid transparent;
        border-bottom-color: $foe-offwhite;
        bottom: 0;
        left: 50%;
        margin-left: ($arrow-size * -1);
        opacity: 0;
        transition: opacity $foe-transition-duration-base $foe-transition-easing;
      }
    }

    &.open {
      a {
        opacity: 1;

        &::after {
          opacity: 1;
        }
      }

      a.search-button {
        .fa-search {
          display: none;
        }

        .fa-times {
          display: inline-block;
        }
      }

      .foe-megamenu-container {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
        z-index: $zindex-navbar + 10;
      }
    }

    .megamenu-search {
      display: block;

      form {
        input {
          padding: 0;
          padding-top: $foe-submenu-padding;
          padding-bottom: $foe-submenu-padding;
          margin-top: $spacer*5;
          margin-bottom: $spacer*5;
          font-size: 40px;
          border: 0 solid transparent;
          background-color: transparent;
          width: 100%;
          text-align: center;
          color: $foe-dark;
          height: 4rem;

          &:focus,
          &:active {
            outline: 0 solid transparent;
          }
        }
      }
    }
  }

  &.js-menustack-stuck {
    .header-search {
      a.search-button {
        @include media-breakpoint-up(lg) {
          line-height: $foe-nav-height-large-scrolled;
        }
      }
    }
  }
}
