.navbar-toggler {
  margin-left: 0;
  display: inline-block;
  padding: 10px;
  // Resetting the border and applying a negative margin so it looks like our switcher is sitting correctly on the grid
  // For future devs: don't use padding-right: 0; as it takes away a small chunk of the tap area on mobiles.
  margin-right: -10px;
  border: 0 none transparent;
  border-radius: 0;
  background-color: transparent;
  position: relative;

  @include margin-vertical-align($foe-nav-height-small, 25px); // 25px not calculated anywhere, taken from devtools

  @media screen and (min-width: 365px) {
    margin-left: 10px;
    margin-right: -10px;
  }

  .icon-close {
    position: absolute;
    left: 10px;
    visibility: hidden;
    width: 5px;
    height: 4px;
    border-radius: 3px;
    background-color: #fff;
    transition: all $foe-transition-duration-base $foe-transition-easing;
    transform: translateX(10px) rotateZ(-45deg);

    + .icon-close {
      transform: translateX(10px) rotateZ(45deg);
    }
  }

  .icon-bar {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background-color: #fff;
    float: left;
    transition: opacity $foe-transition-duration-base $foe-transition-easing;
  }

  .icon-bar + .icon-bar {
    margin-top: 0;
    margin-left: 5px;
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
