/* @docs

# Core:Base/Media Queries

Media queries are used to target specific screen sizes, while writing new styles in SCSS please stick to the BS4 new includes as the old FOE `@media` interpolation is deprecated.

```
// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }

@include media-breakpoint-down(xs) { ... }
@include media-breakpoint-down(sm) { ... }
@include media-breakpoint-down(md) { ... }
@include media-breakpoint-down(lg) { ... }
// No media query necessary for xl breakpoint as it has no upper bound on its width

@include media-breakpoint-only(xs) { ... }
@include media-breakpoint-only(sm) { ... }
@include media-breakpoint-only(md) { ... }
@include media-breakpoint-only(lg) { ... }
@include media-breakpoint-only(xl) { ... }

// Example
// Apply styles starting from medium devices and up to extra large devices
@include media-breakpoint-between(md, xl) { ... }
```
*/

// Deprecated, please switch these over...
$media-mobile: "screen and (max-width: #{map-get($grid-breakpoints, 'sm')-1})" !default;
$media-handheld: "screen and (max-width: #{map-get($grid-breakpoints, 'md')-1})" !default;
$media-small: "screen and (min-width: #{map-get($grid-breakpoints, 'sm')})" !default;
$media-medium: "screen and (min-width: #{map-get($grid-breakpoints, 'md')})" !default;
$media-large: "screen and (min-width: #{map-get($grid-breakpoints, 'lg')})" !default;

$foe-mobile: $media-mobile;
$foe-handheld: $media-handheld;
$foe-small: $media-small;
$foe-medium: $media-medium;
$foe-large: $media-large;
