@use 'sass:math';

//
// General functions and mixins
//

// Applies colours to <hX> elements and style-match selectors
@mixin heading_colours ($main, $span) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    color: $main;
  }

  .foe-hero-panel-heading {
    h1 > span,
    .h1 > span {
      color: $span;
    }
  }
}

// Applies colours to <p> and <a> elements
@mixin text_colours ($main, $link) {
  p,
  li {
    color: $main;
  }

  a:not(.foe-cta) {
    color: $link;

    &:hover {
      opacity: $foe-hover-opacity;
    }
  }
}


// Margin based vertical align
//
// Vertically center elements using margins if a parent element height is known.
// Example: an element has a height of 30px, it's parent is 100px, so write out `.margin-vertical-align(100px, 30px);` to calculate the appropriate top margin.

@mixin margin-vertical-align($parent-height, $element-height) {
  margin-top: calc(($parent-height - $element-height) / 2);
  margin-bottom: calc(($parent-height - $element-height) / 2);
}


// WebKit-style focus

@mixin tab-focus() {
  // WebKit-specific. Other browsers will keep their default outline style.
  // (Initially tried to also force default via `outline: initial`,
  // but that seems to erroneously remove the outline in Firefox altogether.)
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


@mixin background-text-invert($background, $color: color-yiq($background)) {
  color: $color;
  background-color: ($background);

  label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $color;
  }
}

@mixin palettize() {
  @each $name in $palette-mapping {
    body.campaign-#{$name} {
      @content;
    }
  }
}

// IE10/11 Targetting
@mixin ie11() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@function strip-units($value) {
  @return math.div($value, ($value * 0 + 1));
}

// From https://stackoverflow.com/a/25478589
// Escapes the leading # from a hex value colour
@function url-friendly-colour($colour) {
  @return '%23' + str-slice('#{$colour}', 2, -1);
}

// @mixin palette-cycle() {
//   @each $name, $palette in $palette-mapping {
//     @each $color, $value in $palette {
//       body.campaign-#{$name} {
//         $value @content;
//       }
//     }
//   }
// }
