<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="foe:topic" content="demo-topic">
  <meta name="foe:campaign" content="demo-campaign">
  <meta name="foe:page-type" content="demo">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="assets/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="icon" href="assets/favicon-32.png" type="image/png" sizes="32x32" />
  <link rel="icon" href="assets/favicon-192.png" type="image/png" sizes="192x192" />
  <link rel="shortcut icon" href="assets/favicon.ico" />
  <title>{{customVariables.pageTitle}}</title>
  <style>
  {{> theme}}
  {{> highlight}}
  </style>

  {{#each customVariables.criticalStyles}}
    <link href="{{this}}" media="screen" rel="stylesheet" type="text/css">
  {{/each}}

  {{#each customVariables.styles}}
    <link rel="preload" href="{{this}}" as="style" media="screen" onload="this.onload = null; this.rel='stylesheet'">
  {{/each}}

  <noscript>
  {{#each customVariables.styles}}
    <link href="{{this}}" media="screen" rel="stylesheet" type="text/css">
  {{/each}}
  </noscript>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
<body class="sg-body foe-page-go-top" data-nid="demo-nid">

<header class="navbar foe-header foe-header-megamenu navbar-expand-lg js-menustack foe-header-transparent-start" id="js-foe-header" role="banner">
  <div class="container">
  <a href="#"><img class="foe-logo" src="assets/logo.png"></a>

  <div class="d-lg-none">
    <div class="header-search">
      <a href="#" class="js-foe-menu-search-button search-button">
        <i class="fa fa-search"></i>
        <i class="fa fa-times"></i>
      </a>

      <div class="foe-megamenu-container megamenu-search">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <form method="GET" action="/search">
                <input type="text" name="keys" placeholder="Search" autocomplete="off" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-none d-md-inline my-2 my-lg-0">
      <a href="https://brand.friendsoftheearth.uk/" class="btn btn-accent">Brand Toolkit</a>
    </div>

    <button class="navbar-toggler" type="button" id="js-foe-navbar-toggle" data-toggle="collapse" data-target="#navbar-menu-items" aria-controls="navbar-menu-items" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-close"></span>
      <span class="icon-close"></span>
    </button>
  </div>

  <div id="navbar-menu-items" class="collapse navbar-collapse foe-header-content justify-content-end" role="navigation">
    <nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation">
      <h2 class="sr-only" id="block-mainnavigation-menu">Main navigation</h2>
      <ul class="menu nav navbar-nav">
        {{#each menus~}}
        <li>
          <a class="nav-item" data-scroll-to="#{{@key}}" href="#{{@key}}">{{titleize @key}}</a>
        </li>
        {{/each}}
        <li>
          <a class="nav-item" href="/report.html">Bundle size report</a>
        </li>
      </ul>
    </nav>

    <div class="header-search d-none d-lg-inline">
      <a href="#" class="js-foe-menu-search-button search-button">
        <i class="fa fa-search"></i>
        <i class="fa fa-times"></i>
      </a>

      <div class="foe-megamenu-container megamenu-search">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <form method="GET" action="/search">
                <input type="text" name="keys" placeholder="Search" autocomplete="off" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-none d-lg-inline my-2 my-lg-0">
    <a href="https://brand.friendsoftheearth.uk/" class="btn btn-accent">Brand Toolkit</a>
  </div>

</header>

<div class="foe-hero-panel">
  <div class="foe-media-holder jarallax">
  <img class="jarallax-img" src="https://picsum.photos/1920/1080?photo=8">
  <!-- or it could be also a <video> -->
  </div>
  <!-- Shunt the H1 and CTA a reasonable distance down, and give a background shading for the main nav -->
  <div class="foe-hero-panel-internal-buffer"></div>
  <div class="foe-hero-panel-heading container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1">
      <h1>
        <span class="display-1">Friends of the earth</span>
        <span class="display-2">CSS Documentation</span>
      </h1>
    </div>
  </div>
  </div>
</div>

{{!-- <div id="foe-secondary-nav" class="js-menustack">
  <div class="foe-secondary-nav-content container">
    <nav role="navigation">
    <span id="js-foe-secondary-trigger" data-toggle="collapse" data-target="#campaignnav-menu-items" aria-controls="campaignnav-menu-items" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-chevron-down"></i>
    </span>
    <a href="#" class="campaign-parent">Link 1</a>
    <ul id="campaignnav-menu-items" class="menu nav collapse" role="navigation">
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
    </ul>
    </nav>
  </div>
</div> --}}

<main id="styleguide" {{!-- Required ID --}}>
{{#each sections}}
  <section id="{{@key}}" class="section" data-sg-section="{{@key}}">
    <div class="container">
      <div class="row sg-section_head">
        <h1 class="col-12 sg-heading sg-heading-section">{{titleize @key}}</h1>
      </div>
    </div>

    {{#each this}}
      <div class="container">
        <div class="row">
          <div class="col-12 col-xs-10 offset-xs-1 col-md-12 offset-md-0" id="{{sanitize id}}">
            {{!--Check for more than one article --}}
            <header class="sg-category_head" data-sg-section="{{sanitize category}}">
              <h2 class="sg-heading sg-heading-category">
                {{category}}
              </h2>
            </header>
          </div>
        </div>
      </div>

      {{#each articles}}
        <article class="container sg-article mb-4" id="{{sanitize id}}" data-sg-section="{{category}}" data-sg-heading="{{heading}}">
          <div class="row">
            <div class="col-12 col-xs-10 offset-xs-1 col-md-12 offset-md-0">
              {{#if heading}}
                <header class="sg-article_head {{#unless heading}}sg-category_head{{/unless}}">
                  <h3 class="sg-heading sg-heading-article">
                    {{heading}}
                  </h3>
                  {{~#if file}}
                  <code class="sg-codespan sg-file">{{file}}</code>
                  {{~/if~}}
                </header>
              {{/if}}
              <div class="sg-article_comment my-4">
                {{{comment}}}
              </div>
            </div>
          </div>
        </article>

        {{#if code}}
          <aside class="container-fluid overflow-hidden my-4 py-4">
            <div class="sg-example">
              <div class="sg-example_wrap">
                {{#each code}}{{{this}}}{{/each}}
              </div>
              {{#each markup}}
              <div class="sg-markup">
                <pre class="sg-markup_wrap"><code class="hljs">{{{this}}}</code></pre>
              </div>
              {{/each}}
            </div>
          </aside>
        {{/if}}
      {{~/each}}
    {{/each}}
  </section>
{{~/each}}
</main>
{{#each customVariables.criticalScripts}}
<script src="{{this}}"></script>
{{/each}}

{{#each customVariables.scripts}}
<script src="{{this}}" defer="true"></script>
{{/each}}
</body>
</html>
