main {
    padding-top: 40px;
}
.sg-heading-section {
    color: #8e9da2;
    border-bottom: 1px solid #e0e8ea;
    padding-bottom: .5em;
}
.sg-example {
    background-color: rgba(255,255,255,.8);
    border-top: 1px solid #fff;
}

.sg-example:before {
    content: 'Example';
    background-color: #EDF0F2;
    color: #647582;
    display: inline-block;
    font-size: .9em;
    padding: .45em .5em;
    margin-bottom: .5em;
    margin-left: 1px;
    clear: both;
}

.sg-example_wrap {
    padding: 1em 1.25em;
    position: relative;
}


.sg-example_wrap:before,
.sg-example_wrap:after {
    content: " ";
    display: table;
    height: 0;
    width: 100%;
}

.sg-example_wrap:after {
    clear: both;
}

.sg-markup_wrap {
    margin: 0;
    border-top: 1px solid #EFF2F6;
}
#styleguide .sg-markup_wrap,
#styleguide .sg-markup code {
    overflow: auto;
}
#styleguide .sg-markup_wrap {
    max-height: 30em;
}

#styleguide .sg-markup code {
    display: block;
    word-wrap: normal;
    white-space: pre;
    padding: 1em;
}


#styleguide .hljs {
    background-color: #f7f7f8;
}
#styleguide .hljs-comment {
    color: #8aaeb7;
}
