// In this file we write CSS which helps authors to see all the authoring elements
// and to clean the global styles the third party modules inherit from the theme CSS.
@import '../../utils/scss/loader';

@mixin foe-calculate-bars($distance, $offset: 33px) {
  .tabs {
    top: $distance;
  }

  .foe-header {
    top: ($distance + $offset);

    &.js-menustack-stuck {
      top: ($distance + $offset);
    }
  }

  .foe-secondary-nav {
    &.js-menustack-stuck {
      top: (($distance + $offset) + $foe-nav-height-small);

      @include media-breakpoint-up(md) {
        top: (($distance + $offset) + $foe-nav-height-medium);
      }

      @include media-breakpoint-up(lg) {
        top: (($distance + $offset) + $foe-nav-height-large-scrolled);
      }
    }

    &::before {
      top: (($distance) + $foe-nav-height-small) * -1;

      @include media-breakpoint-up(md) {
        top: (($distance) + $foe-nav-height-medium) * -1;
      }

      @include media-breakpoint-up(lg) {
        top: (($distance) + $foe-nav-height-large-scrolled) * -1;
      }
    }
  }
}

$drupal-hover-color: #0084d7;

body.adminimal-admin-toolbar {
  $admin-main-bar-height: 40px;
  $admin-task-bar-height: 40px;

  // Adminimal and Drupal toolbars
  .toolbar-bar {
    border-bottom: 1px solid black;
  }

  // .toolbar-menu {
  //   a {
  //     &:focus {
  //       background-color: $drupal-hover-color;
  //     }
  //   }
  // }

  .toolbar-tray ul li {
    margin-bottom: 0;

    a {
      font-family: inherit;
      font-weight: normal;
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: 12px;
    }
  }

  .toolbar-oriented .toolbar-tray-vertical > .toolbar-lining::before {
    content: none;
  }

  .tabs {
    position: relative;
    width: 100%;
    z-index: $zindex-admin - 5;

    ul.tabs--primary {
      background-color: #333;
      margin: 0;
      border-bottom: 1px solid $drupal-hover-color;

      li {
        margin-bottom: 0;

        a {
          font-family: inherit;
          font-weight: normal;
          line-height: 1;
          // padding-top: 14px;
          // padding-bottom: 14px;
          font-size: 12px;
          color: #ccc;
          border: 0 solid transparent;
          border-radius: 0;

          &:hover {
            color: $foe-offwhite;
            background-color: $drupal-hover-color;
          }
        }

        &.active a {
          color: $foe-offwhite;
          background-color: $drupal-hover-color;
        }
      }
    }
  }

  // Reposition the header and campaign nav
  // When there are no .tabs
  &.toolbar-fixed {
    @include foe-calculate-bars($admin-main-bar-height, 0);

    // Drupal node tabs
    .tabs {
      position: fixed;
      top: 0;
    }

    // If the page has local tasks then we have the extra height coming from the .tabs menu which needs to be added to the
    // menu offsets
    &.toolbar-horizontal {
      &.foe-page-has-local-tasks {
        @include foe-calculate-bars($admin-main-bar-height);

        &.toolbar-tray-open {
          @include foe-calculate-bars($admin-main-bar-height + $admin-task-bar-height);
        }
      }
    }

    &.toolbar-vertical {
      &.foe-page-has-local-tasks {
        @include foe-calculate-bars($admin-main-bar-height);

        &.toolbar-tray-open {
          @include foe-calculate-bars($admin-main-bar-height);
        }
      }
    }
  }
}

#toolbar-administration,
#toolbar-administration * {
  z-index: $zindex-admin;
}
