@import '../../utils/scss/loader';

#foe-go-top {
  color: $foe-accent;
  font-size: 3rem;
  padding: calc($spacer / 4);
  position: fixed;
  bottom: $spacer;
  right: $spacer;
  transition: all 250ms ease-out;
  opacity: 0;
  transform: translateY(60px);
  z-index: $zindex-navbar - 10;
  line-height: 1;
  background-color: $foe-offwhite !important;
  border-radius: 50%;
  box-shadow: $foe-text-shadow;
  pointer-events: none;

  &.visible {
    pointer-events: auto;
    opacity: .7;
    transform: translateY(0);

    &:hover {
      opacity: 1;
      transform: translateY(-5px);
    }
  }
}
